

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image:url(https://wallpaper.forfun.com/fetch/92/92b679d6417fc8c8fe988301e5951eb2.jpeg) ;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    color: white;
}

/* En-tête */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Section suggestions */
main {
    flex-grow: 1;
    padding: 20px;
}

.suggestions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.streameur {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.streameur img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.streameur h2 {
    margin: 10px 0;
}

.streameur a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.streameur a:hover {
    background-color: #45a049;
}

/* Formulaire */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="url"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
