body {
    font-family: 'Arial', sans-serif;
    background-image:url(https://wallpaper.forfun.com/fetch/92/92b679d6417fc8c8fe988301e5951eb2.jpeg) ;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    overflow: hidden;
    color: #333;
    margin: 0;
    height: 100vh;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #212329;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0aa9a6;
}

.contact-info {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


.contact-info h2 {
    color: #333;
}